.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  background: #fbf8f8;
  height: auto;
}

h3 {
  color: #575151;
}