.pokemon-item {
    background: #fff;
    width: 80%;
    border: 1px solid #ededed;
    padding: 16px;
    box-shadow: 1px 3px 4px #9e9e9e;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}